* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: linear-gradient(to right, #d9dde1, #d2e3f5);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.01071em;
  font-size: 14px;

}
//禁止用户在整个页面中选择文本
//body {
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}
.paper {
  position: relative;
  margin: 0px auto 20px auto;
  width: 914px;
  min-height: 500px;
  height: auto;
  background-color: white;
  border-radius: 3px;
  padding: 60px;
  margin-top: 120px;
  margin-bottom: 100px;
  background-image: linear-gradient(0deg, #fff, #f9fbff);
}
.decollator{

  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    left: 0;
    top: 1298.89px;
  }
}
.jianlibase {
  position: fixed;
  top: 80px;
  left: calc((100% - 914px)/2);
  width: 794px;
  height: 50px;
  line-height: 50px;
  padding: 25px 60px 0px 60px;
  border-radius: 3px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}
.user-base-container {
  position: relative;
  height: 200px;
  width: 100%;
}
.photo-container {
  position: relative;
  float: right;
  width: 120px;
  height: 170px;
  background-color: transparent;
  border-radius: 0px;
  overflow: hidden;
  margin-top: 5px;
}
.photo-container:hover {
  cursor: pointer;
}
#photo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  //width: 122px;
  height: auto;
  border: none;
  padding-right: 2px;
  transition: opacity 0.5s ease-in-out;
}
img[src=""], img:not([src]){
  opacity: 0;
  border: 1px solid whitesmoke;
}
.edit-photo-model {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 0px 0px 0px;
  display: none;
  color: white;
}
.jl-item {
  position: relative;
  width: 100%;
  //padding-left: 30px;
  height: auto;
  //margin-left: -30px;
  //background-color: white;
}
.jl-jy-item {
  position: relative;
  width: 100%;
  padding-left: 30px;
  height: auto;
  margin-left: -30px;
  //background-color: white;
}
.sort-item {
  position: absolute;
  left: 5px;
  top: 8px;
  display: none;
}
.sort-item-jy {
  position: absolute;
  left: 8px;
  top: 17px;
  display: none;
}
.sort-item:hover {
  cursor: move;
}
.sort-item-jy:hover {
  cursor: move;
}
.sortable-placeholder{
  position: relative;
  width: 100%;
  background-color: whitesmoke;
  border: 1px dashed #bb7ef8;
  height: 40px;
}
.edit-photo-model:hover {
  cursor: pointer;
}
.apply-job-container {
  position: relative;
  height: 34px;
  background-color: transparent;
  line-height: 34px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
}
#job {
  position: absolute;
  float: left;
  width: 70%;
  margin-top: 5px;
  border: none;
  left: 0px;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: 23px;
  padding-right: 2px;
}
div {
  border: none;
  outline: none;
}
input {
  border: none;
  background-color: transparent;
}
div, input, p, h3 {
  background: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}
div:-webkit-autofill, input:-webkit-autofill, p:-webkit-autofill, h3:-webkit-autofill {
  background: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}
.jianli-title .title:-webkit-autofill {
  background: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}
*[contenteditable="true"]{
  background: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}
.ctrl-container {
  position: fixed;
  top: 100px;
  width: 70px;
  height: 400px;
  right: calc((100% - 920px) / 2 - 100px);
}
.ctrl-container button {
  position: relative;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(0deg, #ffffff 0%, #f7f8fa 100%);
  border: 2px solid #fff;
  box-shadow: 8px 8px 20px 0 rgba(55,99,170,.1);
  margin-bottom: 20px;
}
.ctrl-icon {
  font-size: 18px;
}
.ctrl-container button:hover {
  cursor: pointer;
  color: #286cf5;
}
#addPage {
  padding: 8px 20px;
  font-size: 13px;
  border-radius: 100px;
  background-image: linear-gradient(0deg, #ffffff 0%, #f7f8fa 100%);
  border: 2px solid #fff;
  box-shadow: 8px 8px 20px 0 rgba(55,99,170,.1);
  margin-bottom: 20px;
}
#addPage:hover {
  cursor: pointer;
  color: #4263EB;
}
#name {
  position: absolute;
  left: 0px;
  top: 5px;
  font-size: 25px;
  border: none;
  font-weight: 500;
  text-align: left;
  padding-right: 2px;
}
#address {
  position: absolute;
  left: 0px;
  width: 300px;
  top: 48px;
  font-size: 15px;
  color: #2f2f2f;
  text-align: left;
  padding-right: 2px;
}
#desc {
  position: absolute;
  left: 0px;
  top: 75px;
  color: #706f6f;
  text-align: left;
  padding-right: 3px;
  width: calc(100% - 150px);
}
.education {
  position: absolute;
  left: 0px;
  top: 115px;
  max-width: 300px;
  height: auto;
  min-height: 50px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  /* background-color: #3148f6; */
  background-color: whitesmoke;
  color: black;
}
#school, #school2 {
  position: relative;
  float: left;
  /*color: white;*/
  color: black;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  height: 30px;
  width: 100%;
  /*border-bottom: 1px solid #2196F3;*/
  border-bottom: 1px solid #dedede;
  text-align: left;
  padding-right: 2px;
}
.education-info {
  position: relative;
  width: 100%;
  font-size: 13px;
  clear: both;
  margin-top: 10px;
  padding-top: 3px;
}
.education-info div {
  text-align: left;
  float: left;
  min-width: 20px;
  /*color: whitesmoke;*/
  color: #3d3d3d;
  padding:0px 5px;
  border-right: 1px solid #2196F3;
  border-right: 1px solid #dedede;
}
.education-info input:hover {
  background-color: #2b52f3;
}
.jianli-title {
  position: relative;
  width: 100%;
  line-height: 35px;
  font-size: 18px;
  text-align: left;
  margin-top: 20px;
  border-bottom: 1px dashed #d2d2d2;
  margin-bottom: 10px;
}
.jianli-title .title {
  font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  padding-right: 0px;
  color: #4b5767;
  font-weight: 700;
  margin-left: 2px;
  //-webkit-user-modify: read-write-plaintext-only;
  padding-bottom: 6px;
  /*border-bottom: 2px solid #71859d;*/
}
.contact-container {
  position: absolute;
  left: 200px;
  top: 5px;
  width: 300px;
  height: 60px;
}
.contact-item{
  position: relative;
  width: 100%;
  text-align: left;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}
.contact-item img {
  float: left;
  margin-right: 4px;
  height: 18px;
  margin-top: 5px;
}
.contact-item div {
  float: left;
  padding-right: 2px;
}
.contact-item i {
  float: left;
  margin-right: 4px;
}
.company-logo {
  position: relative;
  height: 55px;
  max-width: 200px;
}
#addLvLi, #addJingYan, #deleteItem {
  position: relative;
  float: right;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #3f7afa;
  color: white;
  font-size: 13px;
  display: none;
}
#addLvLi:hover, #addJingYan:hover, #deleteItem:hover {
  cursor: pointer;
  background-color: #1f62f5;
}
.companyJobDesc {
  color: #303030;
  font-size: 15px;
  //-webkit-user-modify: read-write-plaintext-only;
}
.tech, .summary, #extend {
  position: relative;
  height: auto;
  text-align: left;
  padding: 0px 5px;
  line-height: 1.8;
  font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.7px;
  color: black;
  //-webkit-user-modify: read-write;
}
.delete-item, .delete-jingyan-item {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  display: none;
}
.delete-jingyan-item {
  top: 7px;
}
.delete-item:hover, .delete-jingyan-item:hover {
  color: #1f62f5;
  cursor: pointer;
}
.companyItem{
  padding-bottom: 10px;
}
.company-logo {
  transition: all 0.5s;
  //float: right;
  //margin-top: -60px;
  //margin-right: -145px;
  //height: 40px
}
.company_con {
  width: calc(100% - 135px);
}
.company_con_tit {
  display: flex;
  align-items: center;
  width: 100%;
}
span.company_name {
  width: 100%;
  text-align: center;
}
b.bold{
  font-weight: 600;
  color: #333333;
}
.bold-font{
  font-weight: 600;
  color: #333333;
}
.el-image.company-logo {
  width: 100px !important;
  height: 100% !important;
}
.company-logo:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.jingyan-item {
  position: relative;
  width: 100%;
  min-height: 50px;
  height: auto;
  padding: 5px;
  text-align: left;
  color: black;
  margin-bottom: 5px;
}
.jingyan-header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed whitesmoke;
  display: flex;
  justify-content: space-between;

}
.jingyan_list {
  //display: flex;
}
.jingyan-name {
  float: left;
  font-size: 15px;
  font-weight: bold;

}
.jingyan-role {
  //position: absolute;
  left: 300px;
  float: left;
  font-size: 15px;
  font-weight: 600;
}
.jingyan-time {
  float: right;
  font-size: 15px;
  font-weight: bold;
  //margin-right: 50px;

}
.float_left{
  float: left;
}
.jingyan-title {
  line-height: 25px;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
  white-space: nowrap;
  font-weight: bold;
  //float: left;
}
.jingyan-content {
  position: relative;
  height: auto;
  text-align: left;
  line-height: 1.75;
  font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: black;
  padding-top: 5px;
  /*-webkit-user-modify: read-write-plaintext-only;*/
}
.layui-timeline-title {
  color: black;
}
.kimi {
  height: 55px;
  margin-left: -5px;
}
.ctrl-education {
  position: absolute;
  right: 15px;
  top: 12px;
  color: black;
  display: none;
}
.ctrl-education:hover {
  cursor: pointer;
  color: #ff7300;
}
.updateTip {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 13px;
  color: #b0b0b0;
  display: none;
  margin-right: -30px;
}
#updateTime {
  color: #e55902;
}
.jianliTemplateContainer {
  position: fixed;
  left: 50px;
  top: 80px;
  width: 250px;
  padding: 10px 20px 20px 20px;
  background-color: white;
  border-radius: 3px;
}
.template-title {
  line-height: 30px;
  text-align: left;
  color: gray;
}
.cover-container {
  position: fixed;
  top: 80px;
  padding: 15px 10px;
  background-color: white;
  display: block;
}
@media screen and (max-width: 1601px) {
  .cover-container {
    width: 180px;
    left: calc( (100% - 914px) / 2 - 215px );
  }
}
@media screen and (min-width: 1600px) {
  .cover-container {
    width: 250px;
    left: calc( (100% - 914px) / 2 - 285px );
  }
}
#cover {
  width: 100%;
}
.upload-resume-btn {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #ff4218;
  color: white;
  border-radius: 3px;
  border: none;
  opacity: 0.8;
}
.upload-resume-btn:hover {
  cursor: pointer;
  opacity: 1;
}
#uploadResumeProgress {
  line-height: 19px;
  font-size: 13px;
  color: #ff4218;
  margin: 10px 0px;
  display: none;
}
.layui-timeline-content {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aiGenButton {
  position: absolute;
  width: 120px;
  height: 40px;
  background-color: #184eff;
  box-shadow: 0px 0px 10px #bccbfd;
  font-size: 13px;
  border-radius: 100px;
  border: none;
  bottom: 10px;
  color: white;
  left: 400px;
  z-index: 999;
  opacity: 0.8;
}
#toolbar {
  position: relative;
  float: left;
  width: 102%;
  height: 40px;
  margin-left: 0px;
  margin-top: 3px;
}
#toolbar button {
  background: transparent;
  border: none;
  color: #595959;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  overflow: hidden;
  padding: 0 8px;
  white-space: nowrap;
  border: 1px solid #dcdbdb;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 10px;
}
#toolbar button:before {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: .75em;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  top: 40px;
  transition: opacity .6s;
  visibility: hidden;
  white-space: pre;
  z-index: 1;
}
#toolbar button:after {
  border: 5px solid transparent;
  border-bottom: 5px solid #333;
  content: "";
  opacity: 0;
  position: absolute;
  top: 30px;
  transition: opacity .6s;
  visibility: hidden;
}
#toolbar button svg {
  fill: #595959;
  height: 14px;
  width: 14px;
}
#toolbar button:active {
  background-color: whitesmoke;
}
.aiGenButton:hover {
  cursor: pointer;
  opacity: 1;
}
.aiGenEditor {
  position: fixed;
  bottom: 0px;
  left: calc((100% - 914px) / 2);
  width: 794px;
  padding: 10px 60px;
  min-height: 170px;
  height: auto;
  background-color: white;
  z-index: 999;
  border-top: 10px solid whitesmoke;
  display: none;
}
.ai-job {
  position: relative;
  width: 100%;
  line-height: 40px;
  border-bottom: 1px solid whitesmoke;
  text-align: left;
}
.ai-desc {
  position: relative;
  width: 100%;
  padding-top: 10px;
  line-height: 27px;
  text-align: left;
  height: 200px;
  overflow-y: scroll;
}
.ai-job:empty::before {
  content: attr(placeholder);
  color: grey;
  pointer-events: none;
}
.ai-desc::-webkit-scrollbar {/*æ»šåŠ¨æ¡æ•´ä½“æ ·å¼*/
  width: 2px;     /*é«˜å®½åˆ†åˆ«å¯¹åº”æ¨ªç«–æ»šåŠ¨æ¡çš„å°ºå¯¸*/
  height: 1px;
}
.ai-desc::-webkit-scrollbar-thumb {/*æ»šåŠ¨æ¡é‡Œé¢å°æ–¹å—*/
  border-radius: 5px;
  background-color: #ff4218;
  background-image: -webkit-linear-gradient(45deg, rgba(245, 245, 245, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.ai-desc::-webkit-scrollbar-track {/*æ»šåŠ¨æ¡é‡Œé¢è½¨é“*/
  -webkit-box-shadow: inset 0 0 5px rgba(173, 171, 171, 0.2);
  background: #EDEDED;
}
.ai-desc:empty::before {
  content: attr(placeholder);
  color: grey;
  pointer-events: none;
}
.ai-gen-ctrl {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-top: 10px;
}
.aiGenButtonSend {
  position: relative;
  float: right;
  height: 40px;
  width: 90px;
  border-radius: 3px;
  background-color: #184eff;
  box-shadow: 0px 0px 10px #bccbfd;
  color: white;
  border: none;
  opacity: 0.8;
}
.aiGenButtonSend:hover {
  cursor: pointer;
  opacity: 1;
}
.aiGenClose {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 25px;
}
.aiGenClose:hover {
  cursor: pointer;
  color: red;
}
.createResumeContainer {
  position: relative;
  width: 400px;
  height: 180px;
  padding: 30px 50px;
  background-color: white;
  border-radius: 5px;
}
.createResumeContainer .title {
  line-height: 35px;
  text-align: center;
  width: 100%;
  color: #939393;
  font-size: 15px;
}
.createResumeContainer input {
  width: 100%;
  height: 45px;
  border: 1px solid #e7e4e4;
  line-height: 45px;
  text-indent: 2em;
  margin-top: 15px;
}
.createResumeContainer .copy-ctrl-container {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-indent: 2em;
  margin-top: 40px;
  text-align: center;
}
.createResumeContainer .copy-ctrl-container button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  margin: 0px 10px;
  opacity: 0.8;
}
.createResumeContainer .copy-ctrl-container button:hover {
  cursor: pointer;
  opacity: 1;
}
.createResumeContainer .copy-ctrl-container .cancel {
  background-color: #e5e4e4;
  color: black;
}
.createResumeContainer .copy-ctrl-container .copyViewUrl {
  background-color: #ff4217;
  color: white;
}
#educationCard2 {
  left: 320px;
}
#status {
  float: right;
  margin-top: 5px;
  border-radius: 100px;
  padding: 0px 20px;
  border: none;
  color: #3b9b59;
  background-color: #E7FAE5;
  -webkit-appearance: none; /* for Chrome, Safari */
  -moz-appearance: none;    /* for Firefox */
  -ms-appearance: none;     /* for IE10+ */
  appearance: none;         /* for standard browsers */
}
.paper-body {
  position: relative;
  width: 100%;
  height: auto;
}
#jingyans ul li, .tech ul li, .summary ul li, #extend ul li {
  list-style-type: disc;
  padding-left: 5px;
  margin-left: 0px;
}
#font-color-select-panel, #font-bg-color-select-panel {
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-shadow: 0 2px 10px #0000001f;
  min-width: 200px;
  padding: 10px;
  position: relative;
  top: 0;
  z-index: 1;
  margin-top: -120px;
}
.w-e-panel-content-color {
  list-style: none;
  text-align: left;
  width: 230px;
}
.w-e-panel-content-color .clear {
  line-height: 1.5;
  margin-bottom: 5px;
  width: 100%;
}
.w-e-panel-content-color .clear svg {
  height: 16px;
  margin-bottom: -4px;
  width: 16px;
}
.w-e-bar svg {
  fill: #595959;
  height: 14px;
  width: 14px;
}
.w-e-panel-content-color li {
  border: 1px solid #fff;
  border-radius: 3px 3px;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
}
.w-e-panel-content-color li .color-block {
  border: 1px solid #e8e8e8;
  border-radius: 3px 3px;
  height: 17px;
  width: 17px;
}
.w-e-panel-content-color li .color-block:hover {
  cursor: pointer;
  border: 1px solid #e8e8e8;
}
.layui-timeline-axis {
  color: #286cf5 !important;
  font-size: 10px !important;
  left: -4px !important;
}
.layui-text p{
  margin: 0px 0 !important;
}
.layui-timeline-title{
  color: #333333;
}
.layui-timeline-title {
  color: #333333;
  font-size: 17px !important;
  font-weight: 500;
  margin-bottom: 0 !important;
  white-space: nowrap;
}









