@import './base.css';
div#app {
  margin: 0 auto;
  width: 100%;
}
#app {
  max-width: 1280px;
  /*max-width: 100%;*/
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /*color: hsla(160, 100%, 37%, 1);*/
  color: #2365c4;
  transition: 0.4s;
  padding: 3px;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .layout_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    transition: all .3s;
  }
  .active_con#app{
    grid-template-columns: 0.3fr 1fr;
    max-width: 100%;
  }
}

